<!-- bookshelf/templates/bookshelf/home.html -->
<html>
    <head>
        <title>Book List</title>
    </head>
    <body>
        <h1>Welcome to My Bookstore!</h1>
        <p>This is the homepage of my Django app, where you can see all available books:</p>

        <ul>
            {% for book in books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.publication_year }})
                </li>
            {% empty %}
                <li>No books available.</li>
            {% endfor %}
        </ul>
    </body>
</html>
